.parent{
  background-color:blue;
  height:254px;
  width:290px;
  padding:60px;
  color:white;
  text-align:right;
  position:relative;
  left:450px;
  top:50px;

}
.child{
  color:black;
  background-color:white;
  width:80%;
  height:76%;
  padding:13%;
  text-align:center;
  border-radius:40px;



}
button{
  color:white;
  background-color:blue;
  width:190px;
}
h2{
  font-weight:lighter;
}
input{
  background-color:aliceblue;
  border:0;
}

